[server]
host = localhost
electrum_rpc_port = 8000
#report_host = 
stratum_tcp_port = 50001
stratum_http_port = 8081
#stratum_tcp_ssl_port = 50002
#stratum_http_ssl_port = 8082
#report_stratum_tcp_port = 50001
#report_stratum_http_port = 80
#report_stratum_tcp_ssl_port = 50002
#report_stratum_http_ssl_port = 443
password = secret
banner = Welcome to Electrum!
#irc = no
#irc_nick = <yournickname>
#ssl_certfile = /path/to/electrum-server.crt
#ssl_keyfile = /path/to/electrum-server.key

# default backend is leveldb (pruning server)
backend = leveldb

## Bitcoin network parameters
[network]
# Change type to bitcoin_test to enable testnet
type = bitcoin_main
# Advanced, manually change the network parameters
#pubkey_address = 111
#script_address = 196
#genesis_hash = 000000000933ea01ad0ee984209779baaec3ced90fa3f408719526f8d77f4943

[leveldb]
#path = /path/to/your/database
#fulltree is the new UTXO tree, required for Electrum 2.0 clients
path_fulltree = /path/to/your/database
# for each address, history will be pruned if it is longer than this limit
pruning_limit = 100

[bitcoind]
host = localhost
port = 8332
# user and password from bitcoin.conf
user = user
password = password
