[server]
host = localhost
stratum_tcp_port = 50001
stratum_http_port = 8081
password = secret
banner = Welcome to Electrum!
irc = yes
cache = no

[database]
type = MySQLdb
database = electrum
username = electrum
password = secret
#
# [database]
# type = psycopg2
# database = electrum
#
# [database]
# type = sqlite3
# database = electrum.sqlite

[bitcoind]
host = localhost
port = 8332
# user and password from bitcoin.conf
user = user
password = password
